version: "3.9"

services:
  web:
    build: .
    command: ./docker-entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: question_answers
      POSTGRES_USER: question_answers
      POSTGRES_PASSWORD: question_answers
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: question_answers
      POSTGRES_USER: question_answers
      POSTGRES_PASSWORD: question_answers
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

